.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    height: 5rem;
    
}

.header .title-bar {
    background: linear-gradient(135deg,
    #121521 0%,
    #38476b 45%,
    #b6192e 75%,
    #ffc1ac 100%);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    width: 20rem;
}

.header .title-bar .title {
    font-weight: bold;
    font-size: 2rem;
    
}

.header .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .nav a {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
    color: #38476b;
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;

}

.header .nav a:hover {
    color: #38476bae;
}

