.course-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.sub-container {
    display: flex;
    margin: 1rem 0;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

h2 {
    margin: 0;
}

.add-card {
    background-color: #cecccc;
    color: white;
    height: 7rem;
    width: 7rem;
    border-radius: 10px;

    display:flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.add-information {
    margin-left: 2rem;
    font-size: large;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal file-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 280px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.checkboxes label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.exam-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 6rem;
  
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.save {
  background-color: #4b9cce;
  color: white;
}

.save:hover {
  background-color: #4187b3;
}

.cancel {
  background-color: #f0f0f0;
  color: #333;
}

.cancel:hover {
  background-color: #e0e0e0;
}