.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.search-bar {
  display: flex;
  justify-content: center;

}

.search-bar input {
  padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
    align-items: center;
}

.courses {
    overflow-y: auto;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: flex-start;
}

.course-card {
    color: white;
    background-color: #38476b;
    //width: 20rem;
    height: 15rem;
    border-radius: 10px;

    display:flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.course-card a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}


.course-card.add-card {
    background-color: #cecccc;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 280px;
    
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 5rem;
  
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.save {
  background-color: #4b9cce;
  color: white;
}

.save:hover {
  background-color: #4187b3;
}

.cancel {
  background-color: #f0f0f0;
  color: #333;
}

.cancel:hover {
  background-color: #e0e0e0;
}